.btn {
  background-color: rgb(208, 39, 39);
  border: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: black;
  background: "red";
  filter: brightness(120%);
}

.btn:active{
  background-color: red;
}

.btn-primary {
  --bs-btn-active-bg: red;
  --bs-btn-active-color: black
}