.cart-header {
  /* text-align: center; */
}

.cart-amount {
  /* position: fixed; */
  /* left: 0; */
  /* bottom: 0; */
  /* width: 30%; */
  background-color: rgb(248, 255, 188);
  padding: 10px;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
  border: solid
}
