.cart-container {
  display: flex;
  justify-content: center;
  
}

.cart-amount {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* left: 0; */
  bottom: 0;
  width: 70%;
  background-color: rgb(215, 215, 215);
  padding: 10px;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
  /* border: solid; */
}

.amount {
  margin: 0 20px;
}