.home-container {
  display: flex;
  position: relative;
  top: 60px;
}

.sidebar {
  height: calc(100vh - 60px);
  overflow: hidden;
  position: sticky;
  top: 60px;
}

.main-content {
  flex: 1;
}


