/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
} */

.home-container {
  /* display: flex; */
  /* height: 100%; */
}

.sidebar {
  /* flex: 0 0 250px; */
  /* position: fixed; */
  height: 100%;
  background-color: pink;
}

.main-content {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.main {
  
}